#header-part {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00, blue, #0f0);
    mix-blend-mode: color;
    pointer-events: none;
  }

  .header-container-text {
    position: absolute;
    top: 110px;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);

    h1 {
      font-size: var(--font-size-title);
      width: 100%;
      letter-spacing: 0.3rem;
    }
  }
}
@media only screen and (max-width: 700px) {
  #header-part {
    .header-container-text {
      top: 36px;
    }
  }
}
