.home-header {
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 70px), 0% 100%);
  transition: 1s;
  position: relative;
  overflow: hidden;
}

.home-header-alternative {
  background-color: black;
  clip-path: none;
  animation: fadeIn 0.9s ease-in both;
}
hr {
  height: 0.2rem !important;
  background: linear-gradient(to right, #f00, blue, #0f0);
  position: relative;
}
hr::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 1rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  animation: run 15s linear infinite;
}
@keyframes fadeIn {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes run {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
