.lessons-general {
  background-image: url("../assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  padding-top: 3rem;

  .popping-text:hover img {
    opacity: 1;
    transition: 0.8s;
  }

  .popping-text {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    max-width: 800px;
    border: 1px solid var(--white);

    img {
      width: 40%;
      filter: drop-shadow(0 0 0.75rem var(--white));
      opacity: 0.3;
      border: 1px solid var(--white);
      object-fit: cover;
    }

    p {
      position: relative;
      color: var(--white);
      width: 90%;
      padding: 3rem;
      text-align: right;
      border: 1px solid var(--white);
      background-color: var(--black);
    }
  }
}

@media only screen and (max-width: 800px) {
  .lessons-general {
    .popping-text {
      img {
        width: 10%;
      }
      p {
        padding: 0.5rem;
      }
    }
  }
}
