@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

$primary: #03e1e5;
$black: #000000;
$white: #efebeb;
$fontFamilyP: "Lato", sans-serif;
$fontFamilyT: "Oswald", sans-serif;
$fontSizeT: clamp(2rem, 6vw, 10rem);

:root {
  --primary: #{$primary};
  --black: #{$black};
  --white: #{$white};
  --font-family-p: #{$fontFamilyP};
  --font-family-t: #{$fontFamilyT};
  --font-size-title: #{$fontSizeT};
}
